.dj-segmented {
  --dj-segmented-height: rem(34px);
  --dj-segmented-padding: rem(4px);
  --dj-segmented-option-padding: rem(5px) rem(10px);
  --dj-segmented-color: #3c3c43;
  --dj-segmented-font-size: rem(14px);
  --dj-segmented-font-weight: 500;
  --dj-segmented-background-color: #f1f1f2;
  --dj-segmented-indicator-background-color: #ffffff;
  --dj-swicth-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04),
    0 1px 2px rgba(0, 0, 0, 0.06);
  --dj-segmented-border-radius: rem(6px);
  --dj-segmented-option-border-radius: rem(4px);
  --dj-segmented-transition: opacity 250ms;
  --dj-segmented-indicator-transition: transform 250ms, width 250ms;
  --dj-segmented-option-transition: opacity 250ms;

  .dj-segmented__wrapper {
    background-color: var(--dj-segmented-background-color);
    border-radius: var(--dj-segmented-border-radius);
    display: inline-block;
    overflow: hidden;
    transition: var(--dj-segmented-transition);

    .dj-segmented__inner {
      position: relative;
      padding: var(--dj-segmented-padding);
      width: auto;
      height: var(--dj-segmented-height);
      display: inline-flex;
      align-items: center;
      box-sizing: border-box;

      .dj-segmented-indicator {
        position: absolute;
        display: block;
        width: var(--dj-segmented-indicator-width);
        height: var(--dj-segmented-indicator-height);
        transform: translate(0, 0);
        background-color: var(--dj-segmented-indicator-background-color);
        border-radius: var(--dj-segmented-option-border-radius);
        box-shadow: var(--dj-swicth-box-shadow);
        transition: var(--dj-segmented-indicator-transition);
        z-index: 1;
      }

      .dj-segmented__option {
        touch-action: manipulation;
        height: calc(var(--dj-segmented-height) - rem(4px) - rem(4px));
        border-radius: var(--dj-segmented-option-border-radius);
        z-index: 2;
        transition: var(--dj-segmented-option-transition);
        cursor: pointer;

        .dj-segmented__option-label {
          padding: var(--dj-segmented-option-padding);
          height: 100%;
          color: var(--dj-segmented-color);
          font-size: var(--dj-segmented-font-size);
          font-family: inherit;
          font-weight: var(--dj-segmented-font-weight);
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .dj-segmented__option.is-disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }

  .dj-segmented__wrapper.is-disabled {
    cursor: not-allowed;
    opacity: 0.6;

    .dj-segmented__inner {
      cursor: not-allowed;

      .dj-segmented__option,
      .dj-segmented__option.is-disabled {
        cursor: not-allowed;
        opacity: 1;
      }
    }
  }
}
