.dj-textarea {
  --dj-textarea-min-height: rem(50px);
  --dj-textarea-padding: rem(8px) rem(8px) rem(8px) rem(10px);
  --dj-textarea-background-color: #f1f1f2;
  --dj-textarea-color: var(--black);
  --dj-textarea-placeholder-color: rgba(60, 60, 67, 0.75);
  --dj-textarea-border-color: rgba(60, 60, 67, 0.12);
  --dj-textarea-border-focus-color: rgba(60, 60, 67, 0.33);
  --dj-textarea-border-radius: rem(6px);
  --dj-textarea-transition: box-shadow 250ms;

  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: rem(14px);
  transform: translateZ(0);

  &:hover:not(.is-disabled) {
    .dj-textarea__wrapper:not(.is-focus) {
      box-shadow: 0 0 0 rem(1px) var(--dj-textarea-border-color) inset;
    }
  }

  .dj-textarea__wrapper {
    position: relative;
    padding: var(--dj-textarea-padding);
    background-color: var(--dj-textarea-background-color);
    border-radius: var(--dj-textarea-border-radius);
    box-shadow: 0 0 0 rem(1px) transparent inset;
    transition: var(--dj-textarea-transition);
    box-sizing: border-box;
    cursor: text;

    .dj-textarea__inner {
      position: relative;
      padding: 0;
      display: block;
      height: auto;
      min-height: var(--dj-textarea-min-height);
      resize: vertical;
      line-height: 1.5;
      width: 100%;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      color: var(--dj-textarea-color);
      background: none;
      border: none;
      outline: none;
      box-shadow: none;

      &::placeholder {
        color: var(--dj-textarea-placeholder-color);
      }

      &:focus {
        outline: none;
      }
    }
  }

  .dj-textarea__wrapper.is-focus {
    box-shadow: 0 0 0 rem(1px) var(--dj-textarea-border-focus-color) inset;
  }
}

.dj-textarea.is-disabled {
  .dj-textarea__wrapper {
    cursor: not-allowed;

    .dj-textarea__inner {
      box-shadow: 0 0 0 rem(1px) transparent inset;
      opacity: 0.6;
      cursor: not-allowed;
      resize: none;
    }
  }
}

.dj-textarea + .dj-textarea {
  margin-top: rem(8px);
}
