.dj-video {
  --dj-video-color: rgba(235, 235, 245, 0.75);
  --dj-video-background-color: #27272c;
  --dj-video-progress-color: rgba(235, 235, 245, 0.25);
  --dj-video-volume-progress-color: rgba(235, 235, 245, 0.5);
  --dj-video-current-progress-color: rgba(235, 235, 245, 0.5);
  --dj-video-buffer-color: rgba(235, 235, 245, 0.25);
  --dj-video-border-radius: rem(6px);
  --dj-video-transition-duration: 750ms;
  .dj-video__wrapper {
    .dj-video__inner {
      .dj-video-source {
        .dj-video-source__wrapper {
          width: 100%;
          border-radius: var(--dj-video-border-radius);
          transition: box-shadow 0.25s;
          overflow: hidden;

          .dj-video-source__inner {
            position: relative;
            width: 100%;
            background-color: #141414;
            display: flex;
            align-items: center;
            justify-content: center;

            .dj-video-source__content {
              display: flex;
              width: 100%;

              video {
                width: 100%;
              }
            }

            .dj-video-progress {
              position: absolute;
              bottom: rem(6px);
              left: rem(6px);
              right: rem(6px);
              opacity: 0;
              transition: opacity 0.5s;

              &:hover {
                opacity: 1;
              }

              .dj-video-progress__wrapper {
                @gap: rem(4px);
                position: relative;
                display: flex;
                flex-direction: row;
                padding: @gap;
                height: 34px;
                line-height: 1.5;
                color: var(--dj-video-color);
                font-size: rem(12px);
                background-color: var(--dj-video-background-color);
                border-radius: var(--dj-video-border-radius);
                transform: translateZ(0);
                transition: box-shadow 0.25s;
                box-sizing: border-box;

                .dj-video-button__wrapper {
                  @padding: rem(4px);
                  @buttonSize: rem(20px);
                  @gap: rem(8px);
                  flex-shrink: 0;
                  padding: @padding;
                  color: inherit;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: @gap;
                  -webkit-user-select: none;
                  user-select: none;
                  -webkit-user-drag: none;
                  box-sizing: border-box;

                  .dj-video-button__group {
                    display: flex;
                    position: relative;

                    &:hover {
                      .dj-video-button__group-menu {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0) translateX(-50%);
                      }
                    }

                    .dj-video-button__group-menu {
                      position: absolute;
                      bottom: rem(30px);
                      left: 50%;
                      transform: translateX(-50%);
                      opacity: 0;
                      visibility: hidden;
                      transition: opacity 0.25s, visibility 0.25s,
                        transform 0.25s;

                      .dj-video-button__group-menu__wrapper {
                        background-color: var(--dj-video-background-color);
                        border-radius: var(--dj-video-border-radius);

                        .dj-video-volume {
                          @radius: rem(1px);

                          .dj-video-volume__wrapper {
                            width: rem(120px);
                            height: rem(34px);

                            .dj-video-volume__inner {
                              padding: rem(8px);
                              height: 100%;
                              display: flex;
                              align-items: center;
                              box-sizing: border-box;

                              .dj-video-volume-progress {
                                position: relative;
                                width: 100%;
                                height: rem(6px);
                                background-color: var(
                                  --dj-video-progress-color
                                );
                                border-radius: @radius;
                                overflow: hidden;

                                input {
                                  @current-progress-color: var(
                                      --dj-video-volume-progress-color
                                    ),
                                    var(--dj-video-volume-progress-color);
                                  -webkit-appearance: none;
                                  appearance: none;
                                  position: absolute;
                                  top: 0;
                                  right: 0;
                                  bottom: 0;
                                  left: 0;
                                  margin: 0;
                                  padding: 0;
                                  width: 100%;
                                  height: 100%;
                                  background: none;
                                  cursor: pointer;
                                  z-index: 10;

                                  &::-webkit-slider-thumb {
                                    opacity: 0;
                                    z-index: -1;
                                  }

                                  &::-webkit-slider-runnable-track {
                                    -webkit-appearance: none;
                                    appearance: none;
                                    width: 100%;
                                    height: rem(6px);
                                    background: -webkit-linear-gradient(
                                        @current-progress-color
                                      )
                                      no-repeat;
                                    background-size: var(
                                        --volume-progress-value
                                      )
                                      100%;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  .dj-video-button__play,
                  .dj-video-button__screen,
                  .dj-video-button__picture,
                  .dj-video-button__volume {
                    -webkit-appearance: none;
                    appearance: none;
                    touch-action: manipulation;
                    padding: 0;
                    color: inherit;
                    display: inline-flex;
                    transition: opacity 0.25s;
                    border: none;
                    background: none;
                    box-shadow: none;
                    outline: none;
                    cursor: pointer;

                    &:active {
                      transform-origin: center;
                      opacity: 0.75;

                      .icon {
                        transform: scale(0.75);
                      }
                    }

                    &:disabled {
                      cursor: default;
                      opacity: 1;

                      .icon {
                        transform: scale(1);
                      }
                    }

                    .icon {
                      width: @buttonSize;
                      height: @buttonSize;
                      color: inherit;
                      will-change: transform;
                      transition: transform 0.25s;
                    }
                  }
                }

                .dj-video-progress__inner {
                  @progressTime: 0.75s;
                  @radius: rem(1px);
                  flex-grow: 1;
                  gap: @gap;
                  position: relative;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  align-items: center;

                  .dj-video-progress__start-time,
                  .dj-video-progress__end-time {
                    flex-shrink: 0;
                    display: inline-flex;
                    justify-content: center;
                    min-width: rem(40px);
                    font-size: rem(12px);
                    font-weight: 500;
                    line-height: 1;
                    z-index: 20;
                  }

                  .dj-video-progress__end-time {
                    .icon {
                      -webkit-user-select: none;
                      user-select: none;
                      width: rem(32px);
                      height: rem(32px);
                      color: inherit;
                    }
                  }

                  .dj-video-progress__content {
                    @barHeight: rem(6px);
                    position: relative;
                    width: 100%;
                    height: @barHeight;
                    border-radius: @radius;
                    background-color: var(--dj-video-progress-color);
                    cursor: pointer;
                    overflow: hidden;
                    -webkit-user-select: none;
                    user-select: none;
                    -webkit-user-drag: none;

                    .dj-video-process__video {
                      display: none;
                    }

                    .dj-video-buffered__bar {
                      @current-buffer-color: var(--dj-video-buffer-color),
                        var(--dj-video-buffer-color);
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      background: -webkit-linear-gradient(@current-buffer-color)
                        no-repeat;
                      background-size: var(--buffer-value) 100%;
                      transition: background-size 0.25s;
                      z-index: 5;
                    }

                    input {
                      @current-progress-color: var(
                          --dj-video-current-progress-color
                        ),
                        var(--dj-video-current-progress-color);
                      -webkit-appearance: none;
                      appearance: none;
                      position: absolute;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      margin: 0;
                      padding: 0;
                      width: 100%;
                      height: 100%;
                      background: none;
                      cursor: pointer;
                      z-index: 10;

                      &::-webkit-slider-thumb {
                        opacity: 0;
                        z-index: -1;
                      }

                      &::-webkit-slider-runnable-track {
                        height: 100%;
                        background: -webkit-linear-gradient(
                            @current-progress-color
                          )
                          no-repeat;
                        background-size: var(--progress-value) 100%;
                      }
                    }
                  }
                }
              }
            }

            .dj-video-progress.is-show {
              opacity: 1;
            }

            .dj-video-volumePrompt {
              @bottom: rem(6px);
              position: absolute;
              bottom: @bottom;
              left: rem(6px);
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.25s, visibility 0.25s, transform 0.25s;

              .dj-video-volumePrompt__wrapper {
                padding: rem(1px) rem(14px);
                height: rem(34px);
                line-height: rem(34px);
                color: var(--dj-video-color);
                font-size: rem(14px);
                font-family: inherit;
                text-align: center;
                background-color: var(--dj-video-background-color);
                border-radius: var(--dj-video-border-radius);
                box-sizing: border-box;
              }
            }

            .dj-video-volumePrompt.is-move {
              @translateY: calc(calc(rem(34px) + rem(6px)) * -1);
              transform: translateY(@translateY);
            }

            .dj-video-volumePrompt.is-show {
              opacity: 1;
              visibility: visible;
            }

            .dj-video-error-message {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.25s, visibility 0.25s;

              .dj-video-error-message__wrapper {
                width: 100%;
                height: 100%;
                color: var(--dj-video-color);
                background-color: #141414;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .dj-video-error-restart {
                  -webkit-appearance: none;
                  appearance: none;
                  margin-top: rem(8px);
                  padding: rem(1px) rem(16px);
                  height: rem(34px);
                  color: inherit;
                  font-size: rem(14px);
                  font-family: inherit;
                  font-weight: 600;
                  border-radius: var(--dj-video-border-radius);
                  border: none;
                  background-color: var(--dj-video-background-color);
                  cursor: pointer;
                }
              }
            }

            .dj-video-error-message.is-error {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
  .dj-video__wrapper.is-transition {
    .dj-video__inner {
      .dj-video-source {
        .dj-video-source__wrapper {
          .dj-video-source__inner {
            .dj-video-progress {
              .dj-video-progress__wrapper {
                .dj-video-progress__inner {
                  .dj-video-progress__start-time,
                  .dj-video-progress__end-time {
                    opacity: 0;
                    will-change: color, opacity;
                    animation: progressTimeAnimation
                      var(--dj-video-transition-duration) 1 forwards;
                  }

                  .dj-video-progress__end-time {
                    animation-delay: calc(
                      var(--dj-video-transition-duration) - 250ms
                    );
                  }

                  .dj-video-progress__content {
                    width: 0;
                    opacity: 0;
                    will-change: width;
                    animation: progressInnerAnimation
                      var(--dj-video-transition-duration) 1 forwards;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes progressInnerAnimation {
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes progressTimeAnimation {
  100% {
    opacity: 1;
  }
}
