.dj-video {
  --dj-video-color: rgba(235, 235, 245, 0.75);
  --dj-video-background-color: #27272c;
  --dj-video-progress-color: rgba(235, 235, 245, 0.25);
  --dj-video-volume-progress-color: rgba(235, 235, 245, 0.5);
  --dj-video-current-progress-color: rgba(235, 235, 245, 0.5);
  --dj-video-buffer-color: rgba(235, 235, 245, 0.25);
  --dj-video-border-color: var(--border-color);
  --dj-video-border-focus-color: rgba(60, 60, 67, 0.33);
  .dj-video__wrapper {
    .dj-video__inner {
      .dj-video-source {
        .dj-video-source__wrapper {
          width: 100%;
          background-color: #000000;

          .dj-video-source__inner {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .dj-video-source__content {
              display: flex;
              width: 100%;

              video {
                width: 100%;
              }
            }

            .dj-video-progress {
              position: absolute;
              bottom: 6px;
              left: 6px;
              right: 6px;
              opacity: 0;
              transition: opacity 0.5s;

              &:hover {
                opacity: 1;
              }

              .dj-video-progress__wrapper {
                @gap: 4px;
                position: relative;
                display: flex;
                flex-direction: row;
                padding: @gap;
                width: 100%;
                height: 34px;
                line-height: 1.5;
                color: var(--dj-video-color);
                font-size: 12px;
                background-color: var(--dj-video-background-color);
                border-radius: var(--border-radius);
                transform: translateZ(0);
                transition: box-shadow 0.25s;

                .dj-video-button__wrapper {
                  @padding: 4px;
                  @buttonSize: 20px;
                  @gap: 8px;
                  flex-shrink: 0;
                  padding: @padding;
                  color: inherit;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: @gap;
                  -webkit-user-select: none;
                  user-select: none;
                  -webkit-user-drag: none;

                  .dj-video-button__group {
                    display: flex;
                    position: relative;

                    &:hover {
                      .dj-video-button__group-menu {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0) translateX(-50%);
                      }
                    }

                    .dj-video-button__group-menu {
                      position: absolute;
                      bottom: 30px;
                      left: 50%;
                      transform: translateX(-50%);
                      opacity: 0;
                      visibility: hidden;
                      transition: opacity 0.25s, visibility 0.25s,
                        transform 0.25s;

                      .dj-video-button__group-menu__wrapper {
                        background-color: var(--dj-video-background-color);
                        border-radius: var(--border-radius);

                        .dj-video-volume {
                          @radius: 0.1rem;

                          .dj-video-volume__wrapper {
                            width: 120px;
                            height: 34px;

                            .dj-video-volume__inner {
                              padding: 8px;
                              height: 100%;
                              display: flex;
                              align-items: center;

                              .dj-video-volume-progress {
                                position: relative;
                                width: 100%;
                                height: 6px;
                                background-color: var(
                                  --dj-video-progress-color
                                );
                                border-radius: @radius;
                                overflow: hidden;

                                input {
                                  @current-progress-color: var(
                                      --dj-video-volume-progress-color
                                    ),
                                    var(--dj-video-volume-progress-color);
                                  -webkit-appearance: none;
                                  appearance: none;
                                  position: absolute;
                                  top: 0;
                                  right: 0;
                                  bottom: 0;
                                  left: 0;
                                  margin: 0;
                                  padding: 0;
                                  width: 100%;
                                  height: 100%;
                                  background: none;
                                  cursor: pointer;
                                  z-index: 10;

                                  &::-webkit-slider-thumb {
                                    opacity: 0;
                                    z-index: -1;
                                  }

                                  &::-webkit-slider-runnable-track {
                                    -webkit-appearance: none;
                                    appearance: none;
                                    width: 100%;
                                    height: 6px;
                                    background: -webkit-linear-gradient(
                                        @current-progress-color
                                      )
                                      no-repeat;
                                    background-size: var(
                                        --volume-progress-value
                                      )
                                      100%;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  .dj-video-button__play,
                  .dj-video-button__screen,
                  .dj-video-button__picture,
                  .dj-video-button__volume {
                    color: inherit;
                    display: inline-flex;
                    transition: opacity 0.25s;

                    &:active {
                      transform-origin: center;
                      opacity: 0.75;

                      .icon {
                        transform: scale(0.75);
                      }
                    }

                    .icon {
                      width: @buttonSize;
                      height: @buttonSize;
                      color: inherit;
                      will-change: transform;
                      transition: transform 0.25s;
                    }
                  }
                }

                .dj-video-progress__inner {
                  @progressTime: 0.75s;
                  @radius: 0.1rem;
                  flex-grow: 1;
                  gap: @gap;
                  position: relative;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  align-items: center;

                  .dj-video-progress__start-time,
                  .dj-video-progress__end-time {
                    flex-shrink: 0;
                    display: inline-flex;
                    justify-content: center;
                    min-width: 40px;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1;
                    will-change: color, opacity;
                    animation: progressTimeAnimation @progressTime 1 forwards;
                    z-index: 20;
                    opacity: 0;
                  }

                  .dj-video-progress__end-time {
                    animation-delay: calc(@progressTime - 0.25s);

                    .icon {
                      -webkit-user-select: none;
                      user-select: none;
                      width: 32px;
                      height: 32px;
                      color: inherit;
                    }
                  }

                  .dj-video-progress__content {
                    @barHeight: 6px;
                    position: relative;
                    width: 0;
                    height: @barHeight;
                    border-radius: @radius;
                    background-color: var(--dj-video-progress-color);
                    cursor: pointer;
                    overflow: hidden;
                    -webkit-user-select: none;
                    user-select: none;
                    -webkit-user-drag: none;
                    will-change: width;
                    opacity: 0;
                    animation: progressInnerAnimation @progressTime 1 forwards;

                    .dj-video-process__video {
                      display: none;
                    }

                    .dj-video-buffered__bar {
                      @current-buffer-color: var(--dj-video-buffer-color),
                        var(--dj-video-buffer-color);
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      background: -webkit-linear-gradient(@current-buffer-color)
                        no-repeat;
                      background-size: var(--buffer-value) 100%;
                      transition: background-size 0.25s;
                      z-index: 5;
                    }

                    input {
                      @current-progress-color: var(
                          --dj-video-current-progress-color
                        ),
                        var(--dj-video-current-progress-color);
                      position: absolute;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      -webkit-appearance: none;
                      appearance: none;
                      margin: 0;
                      padding: 0;
                      width: 100%;
                      height: 100%;
                      background: none;
                      cursor: pointer;
                      z-index: 10;

                      &::-webkit-slider-thumb {
                        opacity: 0;
                        z-index: -1;
                      }

                      &::-webkit-slider-runnable-track {
                        height: 100%;
                        background: -webkit-linear-gradient(
                            @current-progress-color
                          )
                          no-repeat;
                        background-size: var(--progress-value) 100%;
                      }
                    }
                  }
                }
              }
            }

            .dj-video-progress.is-show {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@keyframes progressInnerAnimation {
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes progressTimeAnimation {
  100% {
    opacity: 1;
  }
}
