:root {
  // color
  --blue: #0d6efd;
  --red: #ee2b47;
  --green: #00ad7c;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --white: #ffffff;
  --black: #303133;
  --grey: #a8a8a8;
  --gray: #6c757d;
  --light-gray: #dcdfe6;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --t-text-light-1: rgba(60, 60, 67);
  --t-text-light-2: rgba(60, 60, 67, 0.75);
  --t-text-light-3: rgba(60, 60, 67, 0.33);
  --t-text-dark-1: rgba(255, 255, 245, 0.86);
  --t-text-dark-2: rgba(235, 235, 245, 0.6);
  --t-text-dark-3: rgba(235, 235, 245, 0.38);

  // text-color
  --text-color: #303133;

  // border-color
  --border-color: #dcdfe6;

  // bg-color
  --bg-color: #ffffff;
  --backdrop-bg-color: rgba(0, 0, 0, 0.6);

  // border-radius
  --border-radius: 0.375rem;

  // transition
  --transition-duration-fast: 0.2s;

  // box-shadow
  --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --box-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --box-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --box-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --box-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --box-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16),
    0 4px 12px rgba(0, 0, 0, 0.16);
}
