.dj-accordion {
  --dj-accordion-background-color: rgba(33, 37, 41, 0.03);

  .dj-accordion__wrapper {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--dj-accordion-background-color);

    .dj-accordion__header {
      appearance: none;
      padding: 10px;
      width: 100%;
      color: var(--black);
      font-size: 14px;
      font-weight: 500;
      text-align: left;
      border: none;
      background-color: transparent;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      transition: color 0.25s;

      .dj-accordion__header-label {
        color: inherit;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
        line-height: 1.15;
        overflow-x: hidden;
        overflow-y: hidden;
        text-overflow: ellipsis;
      }

      .dj-accordion__header-icon {
        margin-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.25s;

        .button-icon {
          color: inherit;
          width: 20px;
          height: 20px;
        }
      }
    }

    .dj-accordion__inner {
      .dj-accordion__inner-content {
        padding: 0 10px 10px 10px;
        line-height: 1.5;
        font-size: 14px;
      }
    }
  }

  .dj-accordion__wrapper.is-active {
    background-color: var(--white);

    .dj-accordion__header {
      .dj-accordion__header-icon {
        transform: rotate(180deg);
      }
    }
  }
}
