.dj-card {
  --dj-card-header-padding: rem(8px) rem(16px);
  --dj-card-content-padding: rem(16px) rem(16px);
  --dj-card-footer-padding: rem(8px) rem(16px);
  --dj-card-color: #3c3c43;
  --dj-card-header-background-color: rgba(33, 37, 41, 0.03);
  --dj-card-background-color: #f1f1f2;
  --dj-card-border-color: rgba(60, 60, 67, 0.12);
  --dj-card-border-radius: rem(6px);
  --dj-card-fotter-background-color: rgba(33, 37, 41, 0.03);

  margin: rem(4px) 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  color: var(--dj-card-color);
  -webkit-tap-highlight-color: transparent;
  word-wrap: break-word;
  background-color: var(--dj-card-background-color);
  background-clip: border-box;
  border: rem(1px) solid var(--dj-card-border-color);
  border-radius: var(--dj-card-border-radius);
  z-index: 1;

  .dj-card-header {
    padding: var(--dj-card-header-padding);
    margin-bottom: 0;
    background-color: var(--dj-card-header-background-color);
    border-bottom: rem(1px) solid var(--dj-card-border-color);
    box-sizing: border-box;

    &:first-child {
      border-radius: var(--dj-card-border-radius) var(--dj-card-border-radius) 0
        0;
    }
  }

  .dj-card-body {
    flex: 1 1 auto;
    padding: var(--dj-card-content-padding);
    box-sizing: border-box;

    &:last-child {
      border-radius: 0 0 var(--dj-card-border-radius)
        var(--dj-card-border-radius);
    }
  }

  .dj-card-footer {
    padding: var(--dj-card-footer-padding);
    border-top: rem(1px) solid var(--dj-card-border-color);
    background-color: var(--dj-card-fotter-background-color);
    box-sizing: border-box;
  }
}

.dj-card.left {
  text-align: left;
}

.dj-card.center {
  text-align: center;
}

.dj-card.right {
  text-align: right;
}
