.dj-switch {
  --dj-switch-padding: rem(6px) 0;
  --dj-switch-color: #a8a8a8;
  --dj-switch-checked-color: #0d6efd;
  --dj-switch-font-size: rem(14px);
  --dj-switch-font-weight: 500;
  --dj-switch-width: rem(40px);
  --dj-switch-height: rem(22px);
  --dj-switch-thumb-width: rem(18px);
  --dj-switch-thumb-height: rem(18px);
  --dj-switch-background-color: #f1f1f2;
  --dj-switch-checked-background-color: #0d6efd;
  --dj-switch-thumb-background-color: #ffffff;
  --dj-switch-border-width: rem(1px);
  --dj-switch-border-color: rgba(60, 60, 67, 0.12);
  --dj-switch-transition: opacity 250ms;
  --dj-switch-label-transition: color 250ms;
  --dj-switch-thumb-transition: transform 350ms;

  @background-color: var(--dj-switch-background-color);
  position: relative;
  display: inline-flex;

  .dj-switch__wrapper {
    -webkit-appearance: none;
    appearance: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    padding: var(--dj-switch-padding);
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--dj-switch-transition);

    .dj-switch__label {
      @UnChecked-color: var(--dj-switch-color);
      color: var(--dj-switch-custom-unChecked-color, @UnChecked-color);
      font-size: var(--dj-switch-font-size);
      font-weight: var(--dj-switch-font-weight);
      transition: var(--dj-switch-label-transition);
    }

    .dj-switch__label.is-checked {
      @checked-color: var(--dj-switch-checked-color);
      color: var(--dj-switch-custom-checked-color, @checked-color);
    }

    .dj-switch__label.dj-switch__label-left {
      margin-right: rem(8px);
    }

    .dj-switch__label.dj-switch__label-right {
      margin-left: rem(8px);
    }

    .dj-switch__inner {
      position: relative;
      padding: 0;
      margin: 0;
      border: none;
      outline: none;
      box-shadow: none;
      background: none;
      display: block;
      flex-shrink: 0;
      width: var(--dj-switch-width);
      height: var(--dj-switch-height);
      background-color: var(
        --dj-switch-custom-unChecked-background-color,
        @background-color
      );
      border-radius: 9999px;
      cursor: pointer;
      box-sizing: border-box;

      &:hover {
        box-shadow: 0 0 0 var(--dj-switch-border-width)
          var(--dj-switch-border-color) inset;
      }

      .dj-switch__thumb {
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 2px;
        transform: translateX(0);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--dj-switch-color);
        width: var(--dj-switch-thumb-width);
        height: var(--dj-switch-thumb-height);
        background-color: var(--dj-switch-thumb-background-color);
        border-radius: 9999px;
        transition: var(--dj-switch-thumb-transition);
      }
    }
  }
}

.dj-switch.is-checked {
  @checked-background-color: var(--dj-switch-checked-background-color);

  .dj-switch__wrapper {
    .dj-switch__inner {
      background-color: var(
        --dj-switch-custom-checked-background-color,
        @checked-background-color
      );

      .dj-switch__thumb {
        color: var(--dj-switch-checked-color);
        transform: translateX(18px);
      }
    }
  }
}

.dj-switch.is-disabled {
  cursor: not-allowed;

  .dj-switch__wrapper {
    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }

    .dj-switch__inner {
      cursor: not-allowed;
      box-shadow: none;
    }
  }
}

.dj-switch + .dj-switch {
  margin-left: rem(8px);
}
